.subtitle {
    color: var(--black-60);
}

ul {
    font-size: 18px;
}

ul li::marker {
    color: var(--purple);
    font-size: 15px;
}


.synonym {
    color: var(--purple);
    cursor: pointer;
}

.synonym:hover {
    text-decoration: underline;
}

.example-wrapper {
    color: var(--black-60);
}