@media (min-width: 1200px) {
	.container {
		max-width: 970px !important;
	}
}

@font-face {
	font-family: 'inconsolata';
	src: url('./Assets/fonts/inconsolata/Inconsolata-VariableFont_wdth_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'inter';
	src: url('./Assets/fonts/inter/Inter-VariableFont_slnt_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'lora';
	src: url('./Assets/fonts/lora/Lora-VariableFont_wght.ttf') format('truetype');
}

.App[data-theme="light"] {
	--black: #050505;
	--black-90: #1F1F1F;
	--black-80: #2d2d2d;
	--black-70: #3a3a3a;
	--black-60: #757575;
	--black-50: #e9e9e9;
	--black-40: #f4f4f4;
	--white: #FFFFFF;

	--purple: #A445ED;
	--red: #FF5252;

	--shadow: var(--black-50);
}

.App[data-theme="dark"] {
	--black: #FFFFFF;
	--black-40: #1F1F1F;
	--black-50: #2d2d2d;
	--black-60: #757575;
	--black-70: #3a3a3a;
	--black-80: #e9e9e9;
	--black-90: #f4f4f4;
	--white: #050505;

	--purple: #A445ED;
	--red: #FF5252;

	--shadow: #A445ED;

	background-color: var(--white);
	color: var(--black);
}

.App[data-type-face="San Serif"] {
	font-family: 'inter', sans-serif;
}
.App[data-type-face="Serif"] {
	font-family: 'lora', serif;
}
.App[data-type-face="Mono"] {
	font-family: 'inconsolata', monospace;
}

.App {
	transition: background-color 0.5s;
	min-height: 100vh;
}

.App * {
	transition: color 0.1s;
	transition: background-color 0.5s;
}

h1 {
	font-size: 64px !important;
	font-weight: bold !important;
}

h2 {
	font-size: 24px !important;
	/* font-weight: bold !important; */
}

h3 {
	font-size: 20px !important;
	/* font-weight: bold !important; */
}

p {
	font-size: 18px !important;
}

span {
	font-size: 14px !important;
}

.loading-spinner {
	margin: auto;
	width: 100%;
	height: 400px;
}